*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;


  }
  /* classok szine pl:driud,dk..... */
#druid{
  color:#FF7C0A
}
#Magexd{
  color: #3FC7EB;
}
#Hunter{
  color:#AAD372;
}
#Rouge{
  color:#FFF468;
}
#Paladin{
  color:#F48CBA;
}
#Warlock{
  color: #8788EE;
}
 /* progress háttéerkét*/
#Siegcraf-kep{
  background-image: url("siegraft-kep.png");
}
#garosh{
  background-image: url("garosh.png");
  
  }
  #Garosh-achi{
    margin-top:5%;
    width: 100%;
  }
   /* navbar*/
.navbar-nav{
    color:white;
    
}
.nav-item:hover{
  color:#dcdcdc;
  
}
.info{

  background: rgba(0, 0, 0, 0.5);
}


.svcs-container {
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
  }
  #yt{
    margin-right:-20px;
  }
  
  
  .service-icon {

    height: 190px;
  }
   /* profile szinek + role*/
  #class-szin-dps{
    color:Red;
    font-size: 20px;
    
  }
  #class-szin-heal{
    color:green;
    font-size: 20px;
  }
  #role{
    font-size: 20px;
  }
  #class-szin-tank{
    color: rgb(16, 112, 177);
    font-size: 20px;
  }

  .service-icon img {
    display: inline-block;
    max-width: 180px;
    height: 176px;
    text-align: center;
    padding: 20px 0;
  }
  
  h3 {
    font-size: 20px;
    margin: 35px 0 25px;
    font-weight: 800;
    color: #3d3d3d;
    text-transform: uppercase;
  }
  

  
  @media (min-width: 978px) {
    .services-box {
      margin-right: 0;
      border: 1px solid #e5e5e5;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      height: 515px;
    }
  
    .services-box.last {
      border-right: 0;
    }
  }
  .card{
      margin-top: 2%;
  }
  .card-body{
      background-color: #121212;
  }
  .card-img-top{
      height: 310px;
      width: 120px;
  }
/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
.container-xxl{

    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;

    overflow: hidden;
    background:url("background.png")
  }
.nav-item{
    color:white;
    font-family: 'Teko', sans-serif;
}

.container-bemutatkozas{
    background-color: #121212;
    overflow-y: hidden;
    width:80%;
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 1%;
    
}
.panel{
    overflow-y: hidden;
}
h2{
    overflow-y: hidden;
}
h1{
    overflow-y: hidden;
}
.nav-link{
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
#myBtn {
    font-family: 'Teko', sans-serif;
    width: 100px;
    font-size: 15px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
  }

  #box {
    background-color: rgb(29, 30, 33);
padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-left: 70px;
width: 100%;
}
#kubu{
    margin-top: 1%;
}
#tovabbi {
    font-size: 15px;
    text-decoration: underline;
    font-family: 'NunitoB';
    color: #adb5bd;
}


  .content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 9%;
    
    font-family: 'Teko', sans-serif;
    text-align: center;

  }


  

  .video-container {
    z-index: -100;
    width:100%;
    height: 600px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    }
  #myBtn:hover {
    background: rgba(0, 0, 0, 0.5);
    color:#dcdcdc;
}
#panel-rolunk-long:hover{
    color:#dcdcdc;
    
}
#myVideo {

    object-fit: cover;
	width: 100%; 
    height: 600px;
  }

.navbar-brand-costom{
    width: 30px;
    height:38px;
}
.navbar-brand-costom:hover{
    color:#dcdcdc;
    text-decoration: none;
    
}


.navbar-custom {
    background-color: rgb(29, 30, 33);

}
 /* Scroll Top*/
 .scrollToTopBtn {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 80px;
  width: 80px;

  position: fixed;
  bottom: 15%;
  background-image: url(nyilacska.png);
  
  right: 2%;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  border: 20px white;
  transition: all .5s ease
}

.showBtn {

  opacity: 1;
  transform: translateY(0)
}

/* navbar telefonso*/
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed !important;
        z-index: 1;
        top:0;
        left: 0;
        width: 50%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar-collapse.collapsing {
        left: -25%;
        transition: height 0s ease;
        background-image:url("nav2.png")
        
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background-image:url("nav2.png")
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        background-image:url("nav2.png")
    }
  
}

.navbar-inverse .navbar-toggler-icon{
         background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}


