*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;
  }
  .container-xxl{

    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;

    overflow: hidden;
    background-color:#121212;
  }
  .navbar-brand-costom{
    width: 30px;
    height:38px;
}
.navbar-brand-costom:hover{
    color:#dcdcdc;
    text-decoration: none;
    
}
.nav-link{
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
.nav-item{
    color:white;
    font-family: 'Teko', sans-serif;
}


.navbar-custom {
    background-color: rgb(29, 30, 33);

}
.nav-item:hover{
    color:#dcdcdc;
    
}
.container-xxl{

    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;

    overflow: hidden;
    background-image: url("addons-background.png");
}
.container-addon{
    background-color: #202020;
    color: white;
    width: 100%;
}


input[type=text] {
    margin-left:20%;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("1024px-Search_Icon.svg.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 60%;
  }
.container-addon{
    margin-top: 5%;
}
#addon-panel{
    border: 1px solid white;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
}
#leiras{
    background: rgba(0, 0, 0, 0.5);
}
.card-header{
    background-color: #202020 !important;

}
.card-body{
    background-color: #202020;
}

#heal-elvui{
    border: 1px solid white;
    width: 25%;
    height: 25%;
    border-radius: 5%;
}

#head{
    margin-bottom: -1%;
}
.btn{
    border: none !important;
    background-color: orange !important;
}
.btn:hover{
    border: none !important;
    background-color: rgb(177, 124, 27) !important;
}
#box {
    background-color: rgb(29, 30, 33);
padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-left: 70px;
width: 100%;
}
#tovabbi {
    font-size: 15px;
    text-decoration: underline;
    font-family: 'NunitoB';
    color: #adb5bd;
}





/* navbar telefonso*/
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed !important;
        z-index: 999;
        top:0;
        left: 0;
        width: 50%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar-collapse.collapsing {
        left: -25%;
        transition: height 0s ease;
        background-image:url("nav2.png")
        
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background-image:url("nav2.png")
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        background-image:url("nav2.png")
    }
  
}

.navbar-inverse .navbar-toggler-icon{
         background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}