*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;
  }
  .container-xxl{

    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;

    overflow: hidden;
    background-color:#121212;
  }
  .navbar-brand-costom{
    width: 30px;
    height:38px;
}
.navbar-brand-costom:hover{
    color:#dcdcdc;
    text-decoration: none;
    
}
.nav-link{
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
.nav-item{
    color:white;
    font-family: 'Teko', sans-serif;
}


.navbar-custom {
    background-color: rgb(29, 30, 33);

}
.nav-item:hover{
    color:#dcdcdc;
    
}
.container-xxl{

    box-shadow:  60px 60px 60px 60px #141412;
    color:white;
    width: 100%;

    overflow: hidden;
    background-image: url("addons-background.png");
}
#box {
    background-color: rgb(29, 30, 33);
padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-left: 70px;
width: 100%;
}
#tovabbi {
    font-size: 15px;
    text-decoration: underline;
    font-family: 'NunitoB';
    color: #adb5bd;
}
.card-header{
    background-color: #202020 !important;

}
.card-body{
    background-color: #202020;
}
#heal-elvui{
    margin-left: 2%;
    border: 1px solid white;
    width: 30%;
    height: 30%;
    border-radius: 5%;
}
.card{
    background-color: #202020 !important;
    border: 1px solid white !important;
}
.container-addon{
    background-color: #202020;
    color: white;
    width: 100%;
    margin-top: 15%;

}
#heal-full{
    margin-left: 2%;
    border: 1px solid white;
    width: 50%;
    height: 50%;
    border-radius: 5%;
}


.example_e {
    border: 1px solid white;
	border: none;
	background: rgba(255, 136, 0, 0.979);
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.example_e:hover {
    border: 1px solid white;
    background: rgba(194, 154, 24, 0.979);
	color: rgba(194, 154, 24, 0.979) !important;
	font-weight: 700 !important;
	letter-spacing: 2px;
	background: none;
	transition: all 0.3s ease 0s;
}
#gomb{
    text-decoration: none;
    color:white;
}
#warning{
    background-color: rgb(204, 204, 9);
    color: black;
}
#myInput{
    opacity:0;
}
.blur.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

#popup {
    /*NEW*/
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    width: 650px;
    top: 53%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
/* ---------------------------------------------------------------------*/
.popup{
    width: max-content;
    margin: auto;
    text-align: center
}
.popup img{
    width: 100%;
    height: 100%;
    cursor: pointer
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 70%;
    height: 50%;
    border: solid white;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*End style*/

/* navbar telefonso*/
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed !important;
        z-index: 999;
        top:0;
        left: 0;
        width: 50%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar-collapse.collapsing {
        left: -25%;
        transition: height 0s ease;
        background-image:url("nav2.png")
        
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background-image:url("nav2.png")
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        background-image:url("nav2.png")
    }
  
}


.navbar-inverse .navbar-toggler-icon{
         background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}